.about-container{
    min-height: calc(100vh - 410px); 
}
.about-container  {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.about-container a {
    color: #444444;
}