.banner-field {
    height: 120px;
    background-color: $backgroundColor;
}
.banner-field p {
    color: $thematColor;
    text-align: center;
    line-height: 170px;
}
.banner-field h1 {
    text-align: center;
    line-height: 110px; 
}