.banner-field {
    height: 120px;
    background-color: #f0f1f1;
}
.banner-field p {
    color: rgb(246, 96, 76);
    text-align: center;
    line-height: 170px;
}
.banner-field h1 {
    text-align: center;
    line-height: 110px; 
}