.footer-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: $backgroundColor;
}
.footer-container h2 {
   margin-top: 20px;
}
.contacts-block {
    margin: 30px;
}
.footer-container a {
   @include styleAnchor(10px);
&:hover {
    color: $thematColor;
}
& h2 {
    color: $textColor;
}
& h2:hover {
    color: $thematColor;
}
  } 
.nav-block {
    margin-top: 25px;
  }
.nav-block a {
      font-size: 20px;
      margin-left: 100px; 
      color: $textColor;
&:hover {
    @include hoverAnchor;
      }
  }
.footer-label {
      font-size: 12px;
      text-align: center;
      margin-top: 30px;
      margin-left: 100px ;
  }
