.footer-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: $backgroundColor;
}
.footer-logo {
    height: 25px;
    margin: 30px 10px 10px 20px;
}
.contacts-block {
    margin: 30px;
}
.footer-container a {
   @include styleAnchor(10px);
&:hover {
    color: $thematColor;
}
  } 
.nav-block {
    margin-top: 20px;
  }
.nav-block a {
      font-size: 18px;
      margin-left: 15px;
&:hover {
    @include hoverAnchor;
      }
  }
.footer-description {
      font-size: 12px;
      text-align: center;
      margin-top: 30px;
      margin-left: 10px ;
  }
