 
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  /* border: 1px dotted #ddd; */
  
}

.wrap-logo {
  display: flex;
  align-items: center;
}

header a {
  color: #212121;
  padding: 12px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  transition: .1s ease-in;
}
.logo img {
 height: 30px;
 /* display: none; */
}
header a:hover {
  color: #f76b6a;
  box-shadow: 0 1px 0 #f76b6a;
}
.active-header{
 color:#f76b6a;
 box-shadow: 0 1px 0 #f76b6a;
}
 .active-cart {
  color:#f76b6a;
}
nav, .header-action-area {
  display: flex;
  align-items: center;
  list-style-type: none;
  }
.categori-block {
  position: relative;
  display: inline-block;
}
.categori-link {
  display: none;
  position: absolute;
  background-color: #faf6f6;
  text-decoration: none;
  /* min-width: 100px; */
  border-radius: 4px;
  z-index: 1;
}
.categori-link span {
  color: black;
  padding: 12px 16px;
  cursor: pointer;
  transition: .1s ease-in; 
  display: block;
  font-size: 15px;
}
.categori-link span:hover{
  color: #f76b6a;
}
.categori-block:hover .categori-link {
  display: block;
}




