.not-found-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.not-found-container h1 {
    margin: 10px auto;
    font-size: 70px;
    color: $thematColor;
}
.not-found-container h4 {
    margin: 10px auto;
}
.not-found-container span {
    margin: 10px auto;
    @include styleButton(18px);
    cursor: pointer;
&:hover {
    @include hoverButton;
    }
}
.banner-not-found {
    height: 120px;
    background-color: $backgroundColor; 
}
.banner-not-found h1 {
    text-align: center;
    line-height: 110px; 
}
.not-found-container a {
    text-decoration: none;
    color: rgb(39, 38, 38);
}
