.not-found-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found-container h1 {
    margin: 10px auto;
    font-size: 70px;
    color: $thematColor;
}
.not-found-container h4 {
    margin: 10px auto;
}
.not-found-container a {
    margin: 10px auto;
    @include styleButton(18px);
&:hover {
    @include hoverButton;
    }
}
