.product-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
 .product-list {
   margin-bottom: 12px;
 }
  .product-list a  {
    @include styleButton(15px);
  &:hover{
    color: $thematColor;
     }
  }
  .active-icon {
    color: $thematColor;
  }
.title-categori {
    color: $thematColor;
    padding: 8px;
    box-shadow: 0 1px 0 $thematColor; 
    border-radius: 4px;
}
.area-sort-by {
    margin: 5px 70px 0 0;
    position: relative;
    display: inline-block;
  }
  .sort {
    padding: 8px;
    border-radius: 4px;
    transition: $allTransition; 
    box-shadow: 0 1px 0 $thematColor;
  &:hover{
      cursor: pointer;
      color: $thematColor;
    }  
  }
  .sort-by {
    display: none;
    position: absolute;
    background-color: #faf6f6;
    text-decoration: none;
    /* min-width: 100px; */
    border-radius: 4px;
    z-index: 1;
  }
  .sort-by span {
      color: black;
      padding: 12px 16px;
      cursor: pointer;
      display: block;
      font-size: 15px;
      transition: $allTransition; 
  &:hover{
      color: $thematColor;
    }
  }
  .area-sort-by:hover .sort-by {
    display: block;
  }
  .hidden {
    display: none;
  }