@import 'variables';
@import 'fontello';
@import 'banner';
@import 'slider';
@import 'cart';
@import 'footer';
@import 'header';
@import 'notFoundPage';
@import 'productHeader';
@import 'search';
@import 'singleProduct';
@import 'unit';
@import 'unitList';

*{
  margin: 0;
  padding: 0;
}
html, body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  }
