@import 'variables';
@import 'fontello';
@import 'banner';
@import 'slider';
@import 'home';
@import 'cart';
@import 'footer';
@import 'header';
@import 'notFoundPage';
@import 'productHeader';
@import 'search';
@import 'singleProduct';
@import 'unit';
@import 'unitList';
@import 'about';
@import 'loader';
@import 'pagination';
@import 'buyForm';
@import 'successMessage';


*{
  margin: 0;
  padding: 0;
}
html, body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #444444;
  }
  .clearness{
    opacity: 0.3;
  }